@page "/"
@using System.Drawing

<div class="page-content">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <label class="file-selector" for="image-selector">Загрузите скриншот уровня</label>
        <InputFile id="image-selector" hidden OnChange="LoadFileAsync"/>
        <div>@DetectionResult</div>
    </div>
    <div>или</div>
    <div>раскрасьте вручную:</div>
    <div class="game-settings">
        <div>Размер поля</div>
        <input style="width: 100%; height: 2rem; padding: 8px;" @bind="GameSize"/>
        <div>Доступные цвета</div>
        <div class="game-colors-wrapper">
            @foreach (var color in Colors.TakeWhile(c => int.Parse(c.Key) <= GameSize))
            {
                <div
                    class="game-color @(CurrentColor == color.Key ? "active" : string.Empty)"
                    style="--color: @color.Value"
                    @onclick="() => { CurrentColor = color.Key; }">
                    @color.Key
                </div>
            }
        </div>
    </div>
    <div class="game-field" style="--game-size: @GameSize">
        @foreach (var row in Game.Cells.Chunk(Game.Size))
        {
            @foreach (var cell in row)
            {
                <div class="game-cell @(CurrentColor == cell.Color ? "active" : string.Empty)"
                     style="--color:  @GetColor(cell.Color);"
                     @ontouchend="() => { cell.IsEmpty = null; cell.Color = CurrentColor; }"
                     @onmouseover="args => { if (args.Buttons == 1) { cell.IsEmpty = null; cell.Color = CurrentColor; }else { Console.WriteLine(cell.Rule); } }"
                     @onmousedown="args => { if (args.Buttons == 1) { cell.IsEmpty = null; cell.Color = CurrentColor; }else { Console.WriteLine(cell.Rule); } }">
                    <p class="color-number">
                        @cell.Color
                    </p>
                    <p class="cell-state @(cell.IsEmpty.HasValue ? string.Empty : "hidden")">@(cell.IsEmpty.HasValue ? cell.IsEmpty.Value ? "✖️" : "😺" : string.Empty)</p>
                </div>
            }
        }
    </div>
    <div style="display: flex; flex-direction: row; gap: 16px; width: 100%; height: auto; justify-content: center;
    align-items: center;">
        <button @onclick="OnClickSolveAsync">Решить
        </button>
        <button
            @onclick="()=>Game.Cells.ForEach(x => {
                x.IsEmpty = null;
                x.Rule = null; 
                Colors = new Dictionary<string, string>(DefaultColors);;
                x.Color = Colors.First().Key;
            })">
            Очистить
        </button>
        <div>@Result</div>
    </div>
</div>