@page "/"
@using System.Drawing

<div class="content">
    <div style="display: flex; flex-direction: column; align-items: center;  gap: 12px">
        <InputFile OnChange="LoadFileAsync"/>
        <div>@DetectionResult</div>
    </div>
    <div style="display: flex; flex-direction: row; gap: 16px;">
        <button @onclick="OnClickSolveAsync">Решить
        </button>
        <button
            @onclick="()=>Game.Cells.ForEach(x => {
                x.IsEmpty = null;
                x.Rule = null; 
                Colors = new Dictionary<string, string>(DefaultColors);;
                x.Color = Colors.First().Key;
            })">
            Очистить
        </button>
        <div>@Result</div>
    </div>
    <div class="game-field" style="--game-size: @GameSize">
        @foreach (var row in Game.Cells.Chunk(Game.Size))
        {
            @foreach (var cell in row)
            {
                <div class="game-cell"
                     style="background-color:  @GetColor(cell.Color);"
                     @ontouchend="() => {  cell.IsEmpty = null; cell.Color = CurrentColor; }"
                     @onmouseover="args => { if (args.Buttons == 1) { cell.IsEmpty = null; cell.Color = CurrentColor; }else { Console.WriteLine(cell.Rule); } }"
                     @onmousedown="args => { if (args.Buttons == 1) { cell.IsEmpty = null; cell.Color = CurrentColor; }else { Console.WriteLine(cell.Rule); } }">
                    @(cell.IsEmpty.HasValue ? cell.IsEmpty.Value ? "✖️" : "🐈‍⬛" : string.Empty)
                </div>
            }
        }
    </div>
    <div class="game-settings">
        <input @bind="GameSize"/>
        <div class="game-colors-wrapper">
            @foreach (var color in Colors)
            {
                <div
                    class="game-color @(CurrentColor == color.Key ? "active" : string.Empty)"
                    style="background-color: @color.Value"
                    @onclick="() => { CurrentColor = color.Key; }">
                </div>
            }
        </div>
    </div>
</div>